.idea/Taiji.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
TExcept/CMakeFiles/
TExcept/Makefile
TExcept/TExcept.cbp
TExcept/cmake_install.cmake
TRedis/CMakeFiles/
TUtil/CMakeFiles/
cmake-build-debug/
